<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
  
    <h1>Hello world</h1>
  </div>

  <p>Click on the button for a surprise.</p>
  <input id="playlist-entry"></input>
  <button onClick="getPlaylist()" class="btn btn-dark">Click me</button>

  <div id="image"></div>
  <div class="city">

  </div>
  <div class="temp">
    
  </div>
</body>

</html>