<link rel="stylesheet" type="text/css" href="css/songdisplay.css" />

<div class=song-display>
    <img class="album-cover" width=300 src="https://i.scdn.co/image/ab67616d0000b27349fba10ef5df5b635e050389" />
    <h3 id="songname">
        Bouree 
    </h3>
    <h6 id="songartist">
        Jehtro Tull
    </h6>
</div>

